-- CORRECCION DE CODIGOS: Sistema Hibrido
-- TIENDA/FERRETERIA: Codigo de barras por VARIANTE (fabricante)
-- RESTAURANTE: Codigo QR por PRODUCTO (seleccion de variante)

-- 1. LIMPIAR TODOS LOS CODIGOS ACTUALES
UPDATE variantes SET codigo_barras = NULL, codigo_qr = NULL, tipo_codigo = NULL;

-- 2. ELIMINAR INDICES ANTIGUOS SI EXISTEN
DROP INDEX IF EXISTS unique_barcode_per_tenant_idx;
DROP INDEX IF EXISTS unique_qr_per_tenant_idx;

-- ABARROTES: Codigos de BARRAS (uno por variante)
UPDATE variantes SET codigo_barras = '7501234567890', tipo_codigo = 'BARRAS' WHERE id = 1;
UPDATE variantes SET codigo_barras = '7501011111111', tipo_codigo = 'BARRAS' WHERE id = 2;
UPDATE variantes SET codigo_barras = '7501011112222', tipo_codigo = 'BARRAS' WHERE id = 3;
UPDATE variantes SET codigo_barras = '7501011113333', tipo_codigo = 'BARRAS' WHERE id = 4;
UPDATE variantes SET codigo_barras = '7500194851259', tipo_codigo = 'BARRAS' WHERE id = 11;
UPDATE variantes SET codigo_barras = '7500194851266', tipo_codigo = 'BARRAS' WHERE id = 12;

-- FERRETERIA: Codigos de BARRAS (uno por variante)
UPDATE variantes SET codigo_barras = '8901234567890', tipo_codigo = 'BARRAS'
WHERE tenant_id = '2853318c-e931-4718-b955-4508168e6953' AND nombre_variante = 'Por Unidad';

UPDATE variantes SET codigo_barras = '8901234567891', tipo_codigo = 'BARRAS'
WHERE tenant_id = '2853318c-e931-4718-b955-4508168e6953' AND nombre_variante = 'Por Kilogramo';

-- RESTAURANTE: Codigos QR (uno por PRODUCTO - compartido entre variantes)
UPDATE variantes v SET codigo_qr = 'QR-HAMBURGUESA', tipo_codigo = 'QR'
WHERE v.producto_id IN (
    SELECT id FROM productos 
    WHERE tenant_id = '83cfebd6-0668-43d1-a26f-46f32fdd8944' AND nombre = 'Hamburguesa Clasica'
);

UPDATE variantes v SET codigo_qr = 'QR-TACOS-PASTOR', tipo_codigo = 'QR'
WHERE v.producto_id IN (
    SELECT id FROM productos 
    WHERE tenant_id = '83cfebd6-0668-43d1-a26f-46f32fdd8944' AND nombre = 'Tacos al Pastor'
);

UPDATE variantes v SET codigo_qr = 'QR-PIZZA-MARGARITA', tipo_codigo = 'QR'
WHERE v.producto_id IN (
    SELECT id FROM productos 
    WHERE tenant_id = '83cfebd6-0668-43d1-a26f-46f32fdd8944' AND nombre ILIKE '%Pizza%Margarita%'
);

UPDATE variantes v SET codigo_qr = 'QR-ENCHILADAS', tipo_codigo = 'QR'
WHERE v.producto_id IN (
    SELECT id FROM productos 
    WHERE tenant_id = '83cfebd6-0668-43d1-a26f-46f32fdd8944' AND nombre ILIKE '%Enchilada%'
);

-- CREAR INDICES UNICOS CORRECTOS
CREATE UNIQUE INDEX unique_barcode_per_tenant_idx
ON variantes (tenant_id, codigo_barras) WHERE codigo_barras IS NOT NULL;

CREATE INDEX idx_qr_search
ON variantes (tenant_id, codigo_qr) WHERE codigo_qr IS NOT NULL;

-- VERIFICACION: Codigos de barras
SELECT 'BARCODE' AS tipo, t.nombre AS tenant, p.nombre AS producto, v.nombre_variante,
       v.codigo_barras AS codigo, v.precio
FROM variantes v
JOIN productos p ON v.producto_id = p.id
JOIN tenants t ON v.tenant_id = t.id
WHERE v.codigo_barras IS NOT NULL
ORDER BY t.nombre, p.nombre;

-- VERIFICACION: Codigos QR (compartidos)
SELECT 'QR' AS tipo, t.nombre AS tenant, p.nombre AS producto, v.nombre_variante,
       v.codigo_qr AS codigo, v.precio,
       COUNT(*) OVER (PARTITION BY v.codigo_qr) AS veces_usado
FROM variantes v
JOIN productos p ON v.producto_id = p.id
JOIN tenants t ON v.tenant_id = t.id
WHERE v.codigo_qr IS NOT NULL
ORDER BY t.nombre, p.nombre;

-- RESUMEN por negocio
SELECT t.nombre AS tenant,
       COUNT(CASE WHEN v.codigo_barras IS NOT NULL THEN 1 END) AS productos_con_barras,
       COUNT(CASE WHEN v.codigo_qr IS NOT NULL THEN 1 END) AS productos_con_qr,
       COUNT(DISTINCT v.codigo_qr) AS codigos_qr_unicos
FROM tenants t
LEFT JOIN productos p ON t.id = p.tenant_id
LEFT JOIN variantes v ON p.id = v.producto_id
GROUP BY t.nombre
ORDER BY t.nombre;
